body{
    background-color: rgb(160, 194, 194);
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
    color: rgb(200, 45, 45);
    margin-top: 50px;
    font-weight: bold;
}
.screen{
    background-color: rgb(158, 152, 152);
    border: solid black 2px;
    border-radius: 9px;
    color: white;
    font-size: medium;
    width: 96%;
    cursor: default;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    font-weight: bold;
}
input [type='button']:hover{
    background-color: whitesmoke;
}
input [tpye='button']:active{
    background-color: orangered;
}
.operator{
    background-color: rgb(146, 207, 161);
    padding: 5px;
    color: black;
    border: solid black 2px;
    border-radius: 9px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
}
.number{
    background-color: rgb(234, 227, 216);
    padding: 5px;
    color: black;
    border: solid black 2px;
    border-radius: 9px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
}
.decimal{
    background-color: rgb(225, 209, 177);
    padding: 5px;
    color: black;
    border: solid black 2px;
    border-radius: 9px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
}
.clear{
    background-color: rgb(225, 209, 177);
    padding: 5px;
    color: black;
    border: solid black 2px;
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
}
.equal{
    background-color: rgb(225, 209, 177);
    padding: 5px;
    color: black;
    border: solid black 2px;
    border-radius: 9px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
}
.container{
    padding: 15px;
    color: black;
    border: solid black 2px;
    width: 700px;
    background-color: white;
    align-self: center;
    display: block;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 5px 10px 20px black;
}
table{
    width: 100%;
}
